{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}M3{% endblock %}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <style type='text/css'>
        html, body {
            font-family: Tahoma, Sans;
            font-size: 11px;
        }
    </style>
    <!-- css классы extjs -->
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}vendor/extjs/resources/css/ext-all.css'/>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}vendor/extjs/resources/css/ux/ux-all.css'/>

    <!-- m3 css-->
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}m3/css/m3.css'/>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}m3/css/icons.css'/>

    <!-- m3 lightbox css-->
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/q.js"></script>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}ext/css/lightbox.css'/>


    <script type="text/javascript" src="{{ STATIC_URL }}vendor/require.js"></script>
    <script type="text/javascript">
        require.config({
            baseUrl: "/static/js/",
            urlArgs: "_dc=" + (new Date()).getTime(),

            paths: {
                'm3': '/static/m3/js/',
                'm3-build': '/static/m3/js/build',
                'vendor': '/static/vendor/',
                'desktop': '/static/ext/js/'
            }
        });

        require([

        ]);

    </script>

    <!-- базовые файлы extjs -->
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/extjs/adapter/ext/ext-base-debug.js"></script>
    <script type='text/javascript' src='{{ STATIC_URL }}vendor/extjs/ext-all-debug.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}vendor/extjs/ux-all-debug.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}vendor/extjs/locale/ext-lang-ru.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}vendor/extjs/locale/ux-lang-ru.js'></script>

    <!-- web-desktop css и js -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext/web-desktop/css/desktop.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}ext/web-desktop/js/desktop.js"></script>

    <!-- m3 js-->
    {#    {% if STATIC_URL %}#}
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/m3-debug.js'></script>
    {#    {% else %}#}
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/ComboBox.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/AdvancedCombobox.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/ObjectTree.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/Grid.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/ObjectGrid.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/other/m3.js'></script>

    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/Button.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/GroupingJsonStore.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/Window.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/EditWindow.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/ObjectSelectionPanel.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}ext/js/ExtGridHeaderFilter.js'></script>


    <script type="text/javascript" src="{{ STATIC_URL }}m3/js/fabric.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}m3/js/m3-desktop.js"></script>

    <script src="{{ STATIC_URL }}m3/js/ext-extensions/LockingGridColumnWithHeaderGroup.js"></script>
    {#    {% endif %}#}

    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}m3/css/locking-grouping-grid.css'/>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}vendor/livegrid/resources/css/ext-ux-livegrid.css'/>
    <script src="{{ STATIC_URL }}vendor/livegrid/livegrid-all-debug.js"></script>
    <script src="{{ STATIC_URL }}m3/js/ext-extensions/MultiGroupingGrid.js"></script>

    <script src="{{ STATIC_URL }}vendor/extjs/gridsummary.js"></script>

    {# Точка расширения для скриптов #}
    {% block content_head %}
    {% endblock %}
</head>
<body scroll="no">


{# Точка расширения для дополнительно html кода #}
{% block content %}
{% endblock %}
</body>
</html>

